/**
_|_|_|_|_|  _|    _|  _|_|_|_|  _|      _|  _|_|_|_|  
    _|      _|    _|  _|        _|_|  _|_|  _|        
    _|      _|_|_|_|  _|_|_|    _|  _|  _|  _|_|_|    
    _|      _|    _|  _|        _|      _|  _|        
    _|      _|    _|  _|_|_|_|  _|      _|  _|_|_|_|
----------------------------------------------------
This is more CSS code that makes things design-y.
**/

@import url(whatthefox/theme/colors.css);

@-moz-document url("about:home"),
url("about:blank"),
url("about:newtab") { /*this modifies the new tab page for cleaner look*/

  body {
		background-image: url(whatthefox/theme/wallpaper.jpg) !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position-x: center !important;
    background-position-y: center !important;
    /* --newtab-background-color: var(--color-newtab) !important;
    --newtab-background-color-secondary: var(--color-main) !important; */
    --newtab-element-hover-color: color-mix(in srgb, var(--color-main), transparent 80%) !important;
	}

  button.personalize-button {
    border: 0 !important;
    border-radius: 20px !important;
    background-color: transparent !important;
    padding: 15px !important;
    background-color: color-mix(in srgb, var(--color-main), transparent 50%) !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
  }
}
