/**
_|_|_|_|_|  _|    _|  _|_|_|_|  _|      _|  _|_|_|_|  
    _|      _|    _|  _|        _|_|  _|_|  _|        
    _|      _|_|_|_|  _|_|_|    _|  _|  _|  _|_|_|    
    _|      _|    _|  _|        _|      _|  _|        
    _|      _|    _|  _|_|_|_|  _|      _|  _|_|_|_|
----------------------------------------------------
This CSS modifies the new tab page.
**/

@import url(colors.css);


@-moz-document url("about:home"),
url("about:blank"),
url("about:newtab"),
url(about:privatebrowsing) { 

  body {
		background-image: url(images/wallpaper.jpg) !important;
		background-size: cover !important;
		background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position-x: center !important;
    background-position-y: top !important;
    --newtab-background-color: var(--color-newtab) !important;
    --newtab-background-color-secondary: var(--color-main) !important;
    --newtab-element-hover-color: color-mix(in srgb, var(--color-main), transparent 50%) !important;
	}

  button.personalize-button {
    border: 0 !important;
    border-radius: 20px !important;
    padding: 15px !important;
    background-color: color-mix(in srgb, var(--color-main), transparent 50%) !important;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    backdrop-filter: blur(12px);
  }

  button.personalize-button:hover {
    background-color: color-mix(in srgb, var(--color-selected), transparent 50%) !important;
  }

  .search-wrapper .search-handoff-button,
  .search-wrapper input {
    background: color-mix(in srgb, var(--color-main), transparent 70%);
    backdrop-filter: blur(12px);
  }

  .top-site-outer .tile {
    background-color: color-mix(in srgb, var(--color-main), transparent 70%);
    backdrop-filter: blur(12px);
  }

  .top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
    background-color: color-mix(in srgb, var(--color-main), transparent 70%);
    backdrop-filter: blur(12px);
  }

  .customize-menu {
    background-color: color-mix(in srgb, var(--color-main), transparent 20%);
    backdrop-filter: blur(12px);
  }
}
