/**
_|_|_|_|_|  _|    _|  _|_|_|_|  _|      _|  _|_|_|_|  
    _|      _|    _|  _|        _|_|  _|_|  _|        
    _|      _|_|_|_|  _|_|_|    _|  _|  _|  _|_|_|    
    _|      _|    _|  _|        _|      _|  _|        
    _|      _|    _|  _|_|_|_|  _|      _|  _|_|_|_|
----------------------------------------------------
This is more CSS code that makes things design-y.
**/

@import url(colors.css);

@-moz-document url-prefix("about:home"), url-prefix("about:newtab") { /*this modifies the new tab page for cleaner look*/
  .releasenote { /*makes Support and Release Note invisible*/
    color: #ffffff00 !important;
  }
  body{
    /* background: url(wallpaper.jpg) !important;
    background-size: cover !important; */
    background-color: var(--color-main) !important;
  }
  .personalize-button { /*makes Settings Button in New Tab Rounded*/
    border: 0;
    border-radius: 20px !important;
    background-color: transparent;
    padding: 15px;
    background-color: color-mix(in srgb, var(--newtab-background-color) 50%, transparent);
    border: 1px solid rgba(0, 0, 0, 0) !important;
  }
}
