/**
_|_|_|_|_|  _|    _|  _|_|_|_|  _|      _|  _|_|_|_|  
    _|      _|    _|  _|        _|_|  _|_|  _|        
    _|      _|_|_|_|  _|_|_|    _|  _|  _|  _|_|_|    
    _|      _|    _|  _|        _|      _|  _|        
    _|      _|    _|  _|_|_|_|  _|      _|  _|_|_|_|
----------------------------------------------------
This is the main CSS code that makes things design-y.
**/

@import url(colors.css);

@-moz-document url(chrome://browser/content/browser.xhtml) {
  #fxa-avatar-image {
      border-radius: 20px !important;
  }
  :root:not([privatebrowsingmode="temporary"], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs, :root[privatebrowsingmode="temporary"]:not([firefoxviewhidden]) :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
    border-inline-start: 0px solid color-mix(in srgb, currentColor 25%, transparent) !important; /*removes seperator line between toolbar item and tabs*/
  }

  #urlbar-background,#urlbar { /*makes url bar rounded*/
    border-radius: 20px !important;
  }

  .tab-icon-overlay { /*removes audio playing in tab icon*/
    stroke: unset !important;
    fill: unset !important;
    background: unset !important;
    fill-opacity: 0 !important;
  }

  :root {
    --tab-border-radius: 20px !important;   /* makes tabs rounded */
    --toolbarbutton-border-radius: 15px !important; /*makes floorp icon in toolbar rounded */
    --tab-selected-bgcolor: var(--color-selected) !important;
    --newtab-background-color: var(--color-main) !important;
  }

  /* ----- Remove tab bar spacer ----- */
  .titlebar-spacer {
	  display: none !important;
  }

  /* ----- Avoids white flash ----- */
  #tabbrowser-tabpanels {
	  background-color: var(--uc-light-bkgnd-color, var(--color-main)) !important;
  } 

  /* ----- bookmarks items centering ----- */
  #PlacesToolbarItems {
	  display: flex !important;
	  justify-content: center !important;
  }

  .tab-background {    /*seperate the tabs by a small margin since they were close to eachother*/
    margin-left: 1px !important; 
    margin-right: 1px !important;
  }

  #navigator-toolbox {
    background-color: var(--color-main) !important;
    border-bottom: none;
  }

  /*------------------------ Browser Border ------------------------*/

  #appcontent browser {
    border-radius: 15px !important;
    margin: 5px 5px 5px 5px !important;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.3);
  }

  /* Remove search engines from the search/url bar */
  #urlbar .search-one-offs:not([hidden]) {
  display:none !important;
  }

  /* Remove border from search bar */
  #nav-bar #urlbar {
  border-bottom: none !important;
  border-top: none !important;
  box-shadow: none !important;
  background-color: var(--color-url-bar);
  }

  #urlbar {
  min-height: 30px !important;
  }

  #nav-bar #search-container #searchbar {
  border-bottom: none !important;
  border-top: none !important;
  box-shadow: none !important;
  }

  /* non active tabs have darker text */
  .tab-background:not([selected='true']):not([multiselected]) {
    color: var(--color-inactive-text) !important;
  }

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    background-color: var(--color-url-bar-breakout) !important;
    box-shadow: 0 30px 50px -15px var(--color-url-bar-breakout-shadow) !important;
    border: none;
  }

  #urlbar .urlbar-input-box {
    text-align: center;
  }

  #wrapper-urlbar-container #urlbar {
    height: var(--urlbar-height) !important;
  }

  #urlbar[focused="true"] > #urlbar-background,
  #searchbar:focus-within {
    background-color: var(--color-url-bar) !important;
  }

  #tabbrowser-tabs .tabbrowser-tab .tab-background[multiselected='true'] {
    border: 0 !important;
  }

  #TabsToolbar {
    background-color: var(--color-main) !important;
  }

  #PersonalToolbar {
    background-color: var(--color-main) !important;
  }

  #nav-bar {
    background-color: var(--color-main) !important;
  }
  
  .browserContainer {
    background-color: var(--color-main) !important;
  }

  /* :root[lwt-newtab-brighttext] {
    --newtab-background-color: var(--color-newtab) !important;
    --newtab-background-color-secondary: var(--color-main) !important;
    background: var(--color-newtab) no-repeat url(wallpaper.jpg) center;
		background-size: cover;
		width: 100vw;
		height: 100vh;
  } */

  menupopup, panel {
    --panel-background: var(--color-main) !important;
  }

  :is(menupopup, panel):where([type="arrow"]) {
    --arrowpanel-background: var(--color-main) !important;
  }
}